@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #FF4701;
  --brand-rgb: 255 71 1;
}

@theme {
  --color-brand: #FF4701;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-pixelify: var(--font-pixelify-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
